body{
    background: #e5dfff;
}
.head{
    height: 700px;   
    
}

.Services{
    height: 800px;
    background: #e7f2a4;  
}

.contact{
    height: 800px;
    background: #e5dfff;
}

.name{
    
}

h1{
    font-size:80px;
    
}